* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header{
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
.nav_bar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2px 24px;
  border: 3px solid black;
  margin-top: 12px;
  margin-bottom: 12px;
}
.nav_bar ul{
  display: flex;
  list-style: none;
  gap: 12px;

}
.nav_bar li{
  border-right: 2px solid black;
  padding-right: 5px;
}
.nav_bar a{
  text-decoration: none;
  color: black;
}


main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

table {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #000;
  list-style: none;
}

button a {
  text-decoration: none;
  color: black;
}

span {
  padding-left: 20px;
}

tbody {
  width: 100%;
}

tr {
  width: 100%;
}

td {
  width: 100%;
}

tr td {
  width: 100%;
  padding-right: 20px;
  padding-left: -70px;
}

form button {
  display: flex;
  justify-content: flex-end;
  margin-left: 80%;
  padding: 5px 8px;
}

form input {
  padding: 3px 20px;
}

h2 {
  padding: 12px;
}

@media (min-width: 768px) {
  main {
    padding-left: 20%;
    padding-right: 20%;
  }
}
