* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  padding-bottom: 12px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  width:70%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #000000;
  padding: 12px;
  list-style: none;
}

button a {
  text-decoration: none;
  color:black;
}

span {
  padding-left: 20px ;
}

tbody {
  width: 100%;
}

tr {
  width: 100%;
}

tr td {
  width: 100%;
  padding-right: 20px;
  padding-left: -70px;
}

td {
  width: 100%;
  text-align: center;
}

form button {
  display: flex;
  justify-content: flex-end;
  margin-left: 80%;
  padding: 5px 8px;
}

form input {
  padding: 3px 20px;
}

h2 {
  padding: 12px;
}
